[access "refs/*"]
	owner = group Administrators
[access "refs/heads/*"]
	create = group ldap/technology.lyo
	forgeAuthor = group ldap/technology.lyo
	push = group ldap/technology.lyo
	label-Code-Review = -2..+2 group ldap/technology.lyo
	label-IP-Clean = -1..+1 group ldap/technology.lyo
	label-Verified = -1..+1 group ldap/technology.lyo
	submit = group ldap/technology.lyo
	abandon = group ldap/technology.lyo
[access "refs/tags/*"]
	pushTag = group ldap/technology.lyo
[project]
	state = active
