[access "refs/*"]
	owner = group Administrators
[access "refs/heads/*"]
	create = group technology.lyo
	forgeAuthor = group technology.lyo
	push = group technology.lyo
	label-Code-Review = -2..+2 group technology.lyo
	label-IP-Clean = -1..+1 group technology.lyo
	label-Verified = -1..+1 group technology.lyo
	submit = group technology.lyo
[access "refs/tags/*"]
	pushTag = group technology.lyo
